 <div class="container page-content">
 <div class="row">
 <div class="span12">
 <div class="box-container">
 <div style="margin-left: auto;margin-right:auto;width:16em"> 



 <%=form_for ([@restaurant,@review]) do |f|%>

  <h2>Create Review</h2> 
  <h4>Comment:</h4> 
  <%=f.text_area :comment %>
  <br/> 
  <h4>Rating:</h4> 
  <%= f.number_field :rating,value: 1,min:1,max:5 %>  
  <br/> 
  <%= f.submit %>

 <% end %>


 </div> 
</div> 
</div>
</div> 


<script>
 $('#rating-form').raty({
 	path: '/assets',
 	scoreName: 'review[rating]'
 }); 
 </script> 